*{margin: 0;padding: 0;}
body{
	background-image:repeating-linear-gradient(30deg,#0f0,#00f,#0f0) ;
	/*背景渐变*/
}
header .logo{
	
	margin: 10px 0 2px 0;
	text-align: center;
}
header h2{
	margin: 0 0 2px 0;
}
header h3{
	margin: 0 0 6px 0;
}
header .nav{
	width: 100%;
	border-top: 1px solid #f00;
	border-bottom: 1px solid #f00;
}
header .nav>ul{
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
header .nav>ul>li{
	position: relative;
	list-style: none;/*  取消默认  */
	margin: 0 20px;
}
header .nav ul li a{
	color: oldlace;
	text-decoration: none;	/*取消超链接下划线*/
}
header .nav ul li a:hover{
	color:orangered ;
}
header .nav ul li ul{
	position: absolute;
	list-style: none;
	top: -2px;
	/*bottom: 50;*/
	display: none;
	background: #d0d;
	width: 90px;
	background-image:linear-gradient(30deg,#00f,#0f0) ;
}
header .nav ul li ul li{
	margin: 5px 0;
}
header .nav ul li:hover ul{
	display: block;
}
#head{
	display: flex;
	text-align: center;
	font-size: 60px;
	color:crimson ;
	margin: 0 0 0 100px;
}
header p::before{
	content: '';
	display: inline-block;
	width: 5px;
	height: 60px;
	margin-right: 10px;
	background:darkorange;
	text-align: left;
	}
.visit {
	text-align: center;
	margin: 0 0 80px;
}
.about{
	width: 80%;
	margin: auto;
}
.about h1{
	display: flex;
	align-items: center;
	color: crimson;
}
.about h1::before{
	content: '';
	display: inline-block;
	width: 5px;
	height: 25px;
	margin-right: 10px;
	background:darkorange;
	text-align: left;
}
.about h2{
	line-height: 1.8;
	margin: 20px 0;
	text-indent: 2em;
	color: oldlace;
}
.img img{
	float: left;
	text-align: center;
	margin: 20px 7px 20px;
	
	
}
.imgtxt img{
	margin: 10px 10px 10px;
}
.imgtxt h2{
	margin: 20px 10px 90px;
}
.about p{
	color: oldlace;
}
.gif img{
	height: 230px;
	margin: 20px;
}
.about h3{
	font-size: 2em;
}
.about ul li a{
	width: 100%;
	font-size: 30px;
	color: whitesmoke;
	
}
.about ul li a:hover{
	color: orange;
}
.gif h2{
	text-align: left ;
}
